@media screen and (max-width: 760px){
    
    header{
        flex-direction: column;
    }
  
    main{
        flex-direction: column;
    }
    h2{
        font-size: 25.62px;
    }
    #inscreva-se{
        margin: 0 auto;
        align-content: center;
        width: 100%;
    }
    img{
        display: none;
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}