body{
    background-color: #343434;
    color: white;
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
    border-color: white;
    border: solid;
    border-radius: 20px;
    padding: 5px;
    font-size: 7.54px;
}
#title:hover{
    color: green;
}
li{
    display: inline-block;
    margin: 30px;
}

h1{
    font-weight: 900;
}

a{
    color: white;
}
a:hover{
    color: green;
    transition: 0.3s all;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 38.44px;
    line-height: 20px;
}
span{
    color: green;
}
p{
    line-height: 30px;
    font-size: 17.08px;
    max-width: 500px;
}
img{
    width: 600px;
}
#inscreva-se{
    border: 3px;
    border: solid;
    border-radius: 20px;
    color: #343434;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#area-disciplinas{
    width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
}    

.semestre {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial;
  }

  /*
**** tabela ****
*/
  .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #f6f6f6;
  }
  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #b3adac;
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #2980b9;
  }
  @media screen and (max-width: 580px) {
    .row {
      padding: 14px 0 7px;
      display: block;
    }
    .row.header {
      padding: 0;
      height: 6px;
    }
    .row.header .cell {
      display: none;
    }
    .row .cell {
      margin-bottom: 10px;
    }
    .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    display: table-cell;
    color: #3b3b3b;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
  }