body{
    background-color: #343434;
    color: white;
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
    border-color: white;
    border: solid;
    border-radius: 20px;
    padding: 5px;
    font-size: 7.54px;
}
#title:hover{
    color: green;
}
li{
    display: inline-block;
    margin: 30px;
}

h1{
    font-weight: 900;
}

a{
    color: white;
}
a:hover{
    color: green;
    transition: 0.3s all;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 38.44px;
    line-height: 20px;
}
span{
    color: green;
}
p{
    line-height: 30px;
    font-size: 17.08px;
    max-width: 500px;
}
img{
    width: 600px;
}
#inscreva-se{
    border: 3px;
    border: solid;
    border-radius: 20px;
    color: #343434;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}